.kotak-login{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 5% auto;
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.halo{
  width: 40%;
  margin: 5% auto;
}
.kotak{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 968px) {
  .kotak-login {
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .kotak-login {
    display: block;
    width: 70%;
  }
  .halo{
    width: 90%;
  }
}
body{
  background-color:greenyellow;
}
#kopi{
  text-align: center;
  color:red;
}